/* Modal de logros */
.achievements-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: auto;
  min-width: 650px;
  max-width: calc(100vw - 40px); 
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}


/* Header */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.modal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 25px;
  font-weight: bold;
  color: #1dd1a1;
}

.modal-trophy-icon {
  font-size: 22px;
  color: #1dd1a1;
}

.header-left {
  display: flex;
  align-items: center;
}

.trophy-icon {
  color: #1dd1a1;
  font-size: 24px;
  margin-right: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

/* Grid de logros */
.achievements-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  padding-right: 10px;
  justify-items: center;
}

/* Ajuste para el scroll */
.achievements-grid::-webkit-scrollbar {
  width: 5px;
}

.achievements-grid::-webkit-scrollbar-thumb {
  background: #1dd1a1;
  border-radius: 5px;
}

.achievements-grid::-webkit-scrollbar-track {
  background: #f0f0f0;
}

