.anxiety-challenge {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    z-index: 1000;
  
    p {
      text-align: center;
      color: #fff;
      margin-bottom: 10px;
    }
  
    .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 800px; 
        margin: 0 auto;
      
        input {
          flex: 1;
          min-width: 0; 
          padding: 12px;
          border-radius: 8px;
          border: none;
          font-size: 16px;
        }
      
        button {
          padding: 12px 20px;
          border-radius: 8px;
          border: none;
          background-color: #fff;
          color: #000;
          font-weight: bold;
          cursor: pointer;
          white-space: nowrap; 
        }
      }
      
  
    .error {
      color: red;
      text-align: center;
      margin-top: 10px;
    }
  
    .success {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .top-buttons {
    position: absolute;
    top: 10px;
    left: 15px; // antes estaba en right
    display: flex;
    gap: 12px;
  
    .icon-btn {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      padding: 4px;
      transition: transform 0.2s;
      outline: none;
    
      &:hover {
        transform: scale(1.2);
      }
    
      &:focus {
        outline: none;
      }
    
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    
      svg {
        width: 22px;
        height: 22px;
      }
    }
    
  }
  